*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url('https://i.pinimg.com/736x/79/11/a8/7911a835d0e02dca6bb4ee1600ad8f7b.jpg');
    background-size: cover;
    color: white;
    height: 80vh;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    background-image: url('https://i.pinimg.com/736x/78/31/4c/78314cb6f1496312f6ab2b144b0f80d4.jpg');
    background-size: cover;
    background-color: rgba(0,0,0,0.2);
}
.logo img{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    object-fit: cover;
}
.nav-bar.active{
    display: flex;
    justify-content:space-around;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    background-size: cover;
    height: 40px;
    background-image: url('https://i.pinimg.com/736x/78/31/4c/78314cb6f1496312f6ab2b144b0f80d4.jpg');
}

nav ul li{
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    width: 80px;
    margin-top: 2%;
    color: white;
}
nav button{
    width: 80px;
    height: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.hero{
    backdrop-filter: blur(3);
    background-color: rgba(0,0,0,0.2);
    margin: 3% 20%;
    border-radius: 20px;
    padding: 1%;
}
.hero-write{
    max-height: 200px;
}
.hero-write h2,.hero-write p, .hero-write a{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.hero-write button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
}
.bars,.xbars{
    display: none;
}
.about-center{
    display: flex;
    justify-content: center;
}
.about-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    gap: 2%;
    margin: 1% 2%;
}
.about-images-one{
    width: 250px;
    height: 150px;
    margin-top: 1%;
}
.about-images-one img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;
    object-fit: cover;
}
.about-write{
    width: 40%;
    margin: 8% 5%;
}
.about-write h1,.about-write p ,.about-write a button{
    margin-top: 3%;
    gap: 2%;
}
.one{
    height: 180px;
    align-items: end;
}
.two{
    width: 250px;
    height: 150px;
    margin-top: 10%;
}
.three{
    width: 250px;
    height: 120px;
}
.about-write button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
}
.head-icons{
    background-image: url('https://i.pinimg.com/736x/79/11/a8/7911a835d0e02dca6bb4ee1600ad8f7b.jpg');
    background-size: cover;
    color: white;
}
.head-icons-center{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 5%;
    flex-wrap: wrap;
}
.head-icons-one i{
    font-size: 2rem;
}
.head-icons-one{
    display: flex;
    border-right: solid aliceblue;
    font-size: 0.8rem;
    gap: 5%;
    padding: 1%;
    width: 20%;
    overflow: hidden;
}
.services h1{
    display: flex;
    justify-content: center;
}
.services-center{
    display: flex;
    justify-content: center;
    gap: 4%;
    flex-wrap: wrap;
    width: 100%;
}
.cartes{
    width: 300px;
    height: 220px;
    box-shadow:0px 4px 6px rgba(0,0,0,0.1);
    margin-top: 4%;
    border-radius: 10px;
}
.cartes img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.cartes p,.cartes a{
    display: flex;
    justify-content: center;
}
@media (max-width:1000px) {
    header{
        height: 70vh;
    }
    .nav-bar{
       display: flex;
        justify-content: center;
        width: 100%;
        gap: 35%;
    }
    .bars{
        display: block;
        font-size: 2rem;
    }
    .xbars{
        font-size: 2rem;
        z-index: 1002;
    }
    .nav-bar.active{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 35%;
    }
    nav ul{
        display: none;
    }
    nav.active ul{
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%; 
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
        color: white;
        z-index: 1000;
        padding: 15px;
    }
    nav ul li{
        align-items: center;
        flex-direction: column;
        align-items: center;
    }
    .hero{
        margin: 10% 5%;
        backdrop-filter: blur(4);
        background-color: rgba(0,0,0,0.5);
    }
    .hero-write{
        padding: 2%;
        height: auto;
        max-height: 80%;
    }
    .about-center{
        flex-wrap: wrap;
    }
    .about-images{
        width: 90%;
    }
    .about-images-one{
        width: 40%;
    }
    .about-write{
        width: 100%;
    }
       .head-icons-center{
    display: flex;
    justify-content: center;
   }
   .head-icons-one{
    flex-wrap: wrap;
   }
   .head-icons-one i{
    font-size: 1.2rem;
   }
   .head-icons-one h3{
    font-size: 0.5rem;
   }
   .head-icons-one p{
    display: none;
   }
   .services-center{
    width: 100%;
    flex-wrap: wrap;
   }
}
